.panel.panel-default
  .panel-heading
    .panel-title Application Frameworks
  .panel-body
    %section#ruby-on-rails= partial 'partials/application-frameworks/ruby-on-rails'
    %section#spring= partial 'partials/application-frameworks/spring'
    %section#sencha-touch= partial 'partials/application-frameworks/sencha-touch'
    %section#nodejs-express= partial 'partials/application-frameworks/nodejs-express'
    %section#android= partial 'partials/application-frameworks/android'