%ul.nav.nav-pills.nav-stacked.affix
  %li#top-of-page-link= link_to "Welcome", "#title"
  %li= link_to "Example Projects", "#example-projects"
  %li= link_to "Work Experience", "#work-experience"
  %li.sub-section= link_to "UPMC Enterprises", "#upmc-enterprises"
  %li.sub-section= link_to "AthleteTrax", "#athletetrax"
  %li= link_to "Education", "#education"
  %li= link_to "Technologies", "#technologies"
  %li= link_to "App Frameworks", "#application-frameworks"
  %li.sub-section= link_to "Ruby On Rails", "#ruby-on-rails"
  %li.sub-section= link_to "Spring", "#spring"
  %li.sub-section= link_to "Sencha Touch", "#sencha-touch"
  %li.sub-section= link_to "NodeJS/Express", "#nodejs-express"
  %li.sub-section= link_to "Android", "#android"
