%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#top-navbar .navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to_blank "PDF Resume", "files/resume.pdf"
      %ul.nav.navbar-nav.navbar-right
        %li
          .navbar-img= link_to_blank image_tag("images/github-logo.png"), "https://github.com/arosini"
        %li
          .navbar-img= link_to_blank image_tag("images/stackoverflow-logo.png"), "http://stackoverflow.com/users/2464657/adamr"
        %li
          .navbar-img= link_to_blank image_tag("images/linkedin-logo.png"), "https://www.linkedin.com/pub/adam-rosini/76/860/b79"
        %li
          = mail_to "adaros48@gmail.com"