#top-navbar= partial 'partials/navbars/top-navbar.haml'
#title
  .container-fluid
    .row
      .col-xs-12
        Adam Rosini's Online Resume
#side-navbar= partial 'partials/navbars/side-navbar.haml'
#content
  .container-fluid
    .row
      .col-xs-12
        %section#welcome= partial 'partials/sections/welcome.haml'
        %section#example-projects= partial 'partials/sections/example-projects.haml'
        %section#work-experience= partial 'partials/sections/work-experience.haml'
        %section#education= partial 'partials/sections/education.haml'
        %section#technologies=partial 'partials/sections/technologies'
        %section#application-frameworks= partial 'partials/sections/application-frameworks.haml'